body { 
	margin-left:auto;margin-right:auto;width:860px;
	font-family:Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif,"宋体";
	font-size:18px;
	color:#333;
}

h4.des {
	margin-top: -50px;
	margin-right: 300px;
	color: #bbb;
	float: right;
	font-weight: normal;
	font-size: 17px;
}

div.pagination {
	text-align:center;
}

span.next {
	border: 1px solid #aaa;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 50px;
}
