	body { 
		margin-left:auto;margin-right:auto;width:860px;
	/*	font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;*/
    font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
		//font-size:20px;
		font-size:1em;
		color:#000;
		padding-bottom:150px;
	}
	img {
		max-width:100%;
		margin-left:auto;margin-right:auto;
	}
	p img {
		display:block;
		margin:0 auto;
	}
	.tags {
		font-size: 13px;
		border-radius: 2px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		background: #bbb;
		color: white;
		cursor:pointer;
		float:right;
		margin-right:5px;
		height:18px;
	}

	.tags.cat {
		background: #00a498;
	}
span#post-box {
	border-radius:40px;
}
	#ds-thread #ds-reset li.ds-tab a.ds-current {
		border-radius:0px;
		padding-left:20px;
		padding-right:20px;
	}

	img.top {
		cursor:pointer;
		position:fixed;
		right:30px;
		bottom:50px;
		opacity:0.1;
		width:36px;
	}

	img.top:hover {
		opacity:0.8;
	}

	img.home {
		width:36px;
		cursor:pointer;
		position:fixed;
		right:30px;
		bottom:100px;
		opacity:0.1;
	}

	img.home:hover {
		opacity:0.8;
	}


	p.ds-powered-by a{ display:none;}
	#ds-reset .ds-gradient-bg {background:#fff!important;}
	#ds-thread #ds-reset .ds-textarea-wrapper {background:#fff!important;}

	code {
		font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
		background: #E2E8EB;
		color: black;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 3px;
	}

	ul li {
		font-size: 0.8em;
		margin-top: 8px;
		margin-bottom: 8px;
		background:rgba(250,250,250,0.4);
	}


blockquote {
    background:rgba(30,30,30,0.1);
    padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:20px;
	margin-top:20px;
    border-left:5px solid rgba(255,0,0,0.8);

}

blockquote p{
		font-size: 1.1em;
}


hr {
    margin-top:30px;
    border: 0px double #bbb;
    border-top: 4px double #aaa;
    text-align: center;
	color:#aaa;
}
hr:after {
    content: '§';
    //content: '\002665';
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #aaa;
    font-size: 18px;
    background:white;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}
