	body { 
		margin-left:auto;margin-right:auto;width:860px;
		font-family:Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif,"宋体";
		font-size:18px;
		color:#333;
	}
	img {
		max-width:100%;
		margin-left:auto;margin-right:auto;
	}
	.tags {
		font-size: 13px;
		border-radius: 2px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		background: #bbb;
		color: white;
		cursor:pointer;
		float:right;
		margin-right:5px;
		height:18px;
	}

	.tags.cat {
		background: #666;
	}
	#ds-thread #ds-reset li.ds-tab a.ds-current {
		border-radius:0px;
		padding-left:20px;
		padding-right:20px;
	}

	img.top {
		cursor:pointer;
		position:fixed;
		right:30px;
		bottom:50px;
		opacity:0.1;
		width:36px;
	}

	img.top:hover {
		opacity:0.8;
	}

	img.home {
		width:36px;
		cursor:pointer;
		position:fixed;
		right:30px;
		bottom:100px;
		opacity:0.1;
	}

	img.home:hover {
		opacity:0.8;
	}

	hr {
		border:1px #e0e0e0 dotted;
	}

	p.ds-powered-by a{ display:none;}
	#ds-reset .ds-gradient-bg {background:#fff!important;}
	#ds-thread #ds-reset .ds-textarea-wrapper {background:#fff!important;}
