---
title: 月下闲话
layout: entry
description: 非關病酒 不在酒後
---

<style>
</style>
<br>
<table>
<tr>
<td>
<ul class="rounded-list" style="width:600px;height:410px;margin-bottom:0px;">
{% for post in paginator.posts %}
<li>{{ post.date|date_to_string }}	
<ul>
	<li><a href='{{ post.url }}' logo='' class='title'>{{ post.title }}</a></li>
</ul>
</li>
{% endfor %}
</ul>
</td>
<td style="vertical-align:top;">
<div style="padding-top:35px;">
<ul class="rectangle-list" style="font-size:14px; width:250px;">
	{% include friends.html %}
</ul>
</div>

<div><input id="J_search" placeholder="Input Search"/></div>
<div class='search-div'>
</div>

</tr>
</table>
<br>
<link rel="stylesheet" target="_blank" rel="external nofollow" href="jquery-ui.css" type="text/css">
<script src="jquery-ui.js"></script>
<script>
var arc = $("<div></div>");
arc.load("/archive.html .title", function(){
	var data = Array();
	arc.find('.title').each(function(){
		data.push({
			label:$(this).attr("logo")+$(this).text(),
			url:$(this).attr("href")
		});
	});
	
	$( "#J_search" ).autocomplete({
    	source: function(request, response) {
	        var results = $.ui.autocomplete.filter(data, request.term);
	        response(results.slice(0, 7));	//limit to 7 items for display
	    },
		minLength: 0,
		appendTo: '.search-div',
		select: function( event, ui ) {
			window.location.href = ui.item.url;
		}
	});
});
</script>
