---
title: 月下闲话
layout: entry
description: 「一个为持续维持自己而持续写文章的常驻游客」
---
<br><br>
<table>
{% for post in paginator.posts %}
<tr>
<td>
{{ post.date|date_to_string }} |  <a href='{{ post.url }}'>{{ post.title }}</a>  
</td>
</tr>
{% endfor %}
<br><br>
</table>
<br><br>

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page%}
		<a href="/page{{ paginator.previous_page }}" class="previous"> = </a>
	{% else %}
		<span class="previous"> - </span>
	{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}" class="next"> = </a>
	{% else %}
		<span class="next "> - </span>
	{% endif %}
</div>
