<div id="posts" class="posts-collapse" hidden>
  <div class="collection-title">
    <{% if site.seo %}h2{% else %}h1{% endif %}>
    {{ page.tag }}
    <small>{{  __.title.tag  }}</small>
    </{% if site.seo %}h2{% else %}h1{% endif %}>
  </div>

  {% for tag_posts in site.tags %}
    {% assign tag = tag_posts[0] | url_encode | replace: '+', '%20' %}
    {% assign posts = tag_posts[1] %}
    {% for post in posts %}
      {% assign route = '/' | append: tag %}
      {% include _macro/post-collapse.html %}
    {% endfor %}
  {% endfor %}
</div>

<!--nav class="pagination"></nav-->
