<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{{ page.title }} </title>

<style>
	body { 
		margin-left:auto;margin-right:auto;width:860px;
		font-family:Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif,"宋体";
		font-size:18px;
		color:#333;
	}
	img {
		max-width:100%;
		margin-left:auto;margin-right:auto;
	}
</style>
</head>
<body>

<h1 style="margin-bottom:40px;"> {{ page.title }} <span style="margin-left:40px;font-weight:normal;font-size:16px;color:#ddd;">by shinemoon @月下闲话</span></h1>


{{ content }}



{% if page.info %}
	<div style="float:right;margin-top:40px;margin-bottom:90px;font-size:14px;color:#555;">{{ page.date|date_to_string }} , 写于 <span style="color:#333;">{{ page.info }} </span>。</div>
{% else %}
	<div style="float:right;margin-top:40px;margin-bottom:90px;font-size:14px;color:#555;">{{ page.date|date_to_string }} , 写毕。</div>
{% endif %}

{% if page.comment %}
	<div style="margin-top:40px;margin-bottom:40px;font-size: 14px;background: #eee;border: 1px dotted #ddd;padding-left: 20px;padding-top: 3px;padding-bottom: 3px;border-radius: 5px;color: #777;">{{ page.comment }} </div>
{% endif %}



<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"mooninsky"};
	(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	|| document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- Duoshuo Comment END -->
</body>
</html>
