<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{{ page.title }} </title>

<style>
	body { 
		margin-left:auto;margin-right:auto;width:860px;
		font-family:Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif,"宋体";
		font-size:18px;
	}
	img {
		max-width:100%;
		margin-left:auto;margin-right:auto;
	}
</style>
</head>
<body>

<h1 style="margin-bottom:40px;"> {{ page.title }} </h1>


{{ content }}


<div style="float:right;margin-top:30px;margin-bottom:90px;font-size:12px;">{{ page.date|date_to_string }} , 写毕。</div>

<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"mooninsky"};
	(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	|| document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- Duoshuo Comment END -->
</body>
</html>
